<div class="container aboutContainer">
	<div class="row">
		<div class="col-md-12">
			<div class="headingContainer"><h3>Welcome to my site!</h3></div>
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nulla veniam autem veritatis, adipisci officia? Tempora necessitatibus iusto, minima, maxime, ipsum quae dolore repellat quaerat praesentium dignissimos molestias! Exercitationem, ad.</p>
			<button class="btn-primary btn">submit</button>
		</div>
	</div>
</div>